# tesla_fleet_management_api
#
# This file was automatically generated by
# APIMATIC v3.0 ( https://www.apimatic.io ).

module TeslaFleetManagementApi
  # ChargingController
  class ChargingController < BaseController
    # Returns the paginated charging history for the authenticated account.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def get_charging_history
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/api/1/dx/charging/history',
                                     Server::DEFAULT)
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Or.new('thirdpartytoken', 'bearerAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ChargingHistoryResponse.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # Returns a charging invoice PDF for a charging session.
    # @param [String] id Required parameter: Charging session invoice
    # identifier
    # @return [ApiResponse] Complete http response with raw body and status code.
    def get_charging_invoice(id)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/api/1/dx/charging/invoice/{id}',
                                     Server::DEFAULT)
                   .template_param(new_parameter(id, key: 'id')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Or.new('thirdpartytoken', 'bearerAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:dynamic_deserializer))
                    .is_api_response(true))
        .execute
    end

    # Returns charging session information. Only available for business fleet
    # owners.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def get_charging_sessions
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/api/1/dx/charging/sessions',
                                     Server::DEFAULT)
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Or.new('thirdpartytoken', 'bearerAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ChargingSessionsResponse.method(:from_hash))
                    .is_api_response(true))
        .execute
    end
  end
end
