# tesla_fleet_management_api
#
# This file was automatically generated by
# APIMATIC v3.0 ( https://www.apimatic.io ).

module TeslaFleetManagementApi
  # PartnerController
  class PartnerController < BaseController
    # TODO: type endpoint description here
    # @return [ApiResponse] Complete http response with raw body and status code.
    def get_vins_with_fleet_telemetry_errors
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/api/1/partner_accounts/fleet_telemetry_error_vins',
                                     Server::DEFAULT)
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(And.new('bearerAuth', 'thirdpartytoken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(BackupResponse.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @return [ApiResponse] Complete http response with raw body and status code.
    def get_recent_fleet_telemetry_errors
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/api/1/partner_accounts/fleet_telemetry_errors',
                                     Server::DEFAULT)
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(And.new('bearerAuth', 'thirdpartytoken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(FleetTelemetryErrorsResponse.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @param [String] domain Required parameter: TODO: type description here
    # @return [ApiResponse] Complete http response with raw body and status code.
    def get_public_key_for_a_domain(domain)
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/api/1/partner_accounts/public_key',
                                     Server::DEFAULT)
                   .query_param(new_parameter(domain, key: 'domain')
                                 .is_required(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(And.new('bearerAuth', 'thirdpartytoken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(PublicKeyResponse.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @param [RegisterPartnerRequest] body Required parameter: TODO: type
    # description here
    # @return [ApiResponse] Complete http response with raw body and status code.
    def register_a_partner_account(body)
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/api/1/partner_accounts',
                                     Server::DEFAULT)
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body)
                                .is_required(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(And.new('bearerAuth', 'thirdpartytoken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(RegisterPartnerResponse.method(:from_hash))
                    .is_api_response(true))
        .execute
    end
  end
end
