# tesla_fleet_management_api
#
# This file was automatically generated by
# APIMATIC v3.0 ( https://www.apimatic.io ).

module TeslaFleetManagementApi
  # UserController
  class UserController < BaseController
    # TODO: type endpoint description here
    # @return [ApiResponse] Complete http response with raw body and status code.
    def get_custom_feature_flags_for_a_user
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/api/1/users/feature_config',
                                     Server::DEFAULT)
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('thirdpartytoken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(BackupResponse.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @return [ApiResponse] Complete http response with raw body and status code.
    def get_summary_of_a_user_s_account
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/api/1/users/me',
                                     Server::DEFAULT)
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('thirdpartytoken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(MeResponse.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @return [ApiResponse] Complete http response with raw body and status code.
    def get_active_orders_for_a_user
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/api/1/users/orders',
                                     Server::DEFAULT)
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('thirdpartytoken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(OrdersResponse.method(:from_hash))
                    .is_api_response(true))
        .execute
    end

    # TODO: type endpoint description here
    # @return [ApiResponse] Complete http response with raw body and status code.
    def get_user_s_region_and_fleet_api_base_url
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/api/1/users/region',
                                     Server::DEFAULT)
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('thirdpartytoken')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(RegionResponse.method(:from_hash))
                    .is_api_response(true))
        .execute
    end
  end
end
